/* General reset for consistent styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .form-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    padding: 20px;
  }
  
  .form-container h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }



.form-group input,
.form-group select,
.form-group textarea,
.form-group button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px 0 0 0;
}

.label {
    margin-top: 10px;
    display: block;
  }

.form-group textarea {
  resize: vertical;
}

.form-group button {
  background-color: #5cb85c;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-group button:hover {
  background-color: #4cae4c;
}
